@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "../../../node_modules/antd/dist/antd.css";

*{
    font-family: 'Poppins', sans-serif;
}

.footer_wrapper{
    background: #000000;
    width: 100%;
}

.footer-logo_margin{
    margin-top: 3rem;
}

.footer-item{
    place-content: center;
    color: #858585;
}

.footer-item_margin{
    margin-top: 2rem;
}