.footer_wrapper{
    background: #000000;
    width: 100%;
    text-align: center;
    .footer-logo_margin{
        margin-top: 3rem;
    }
    .footer-item{
        place-content: center;
        color: #858585;
    }
    
    .footer-item_margin{
        margin-top: 2rem;
    } 
    
    .anticon{
        font-size: 2rem; 
        color: #858585; 
        margin: 1rem;
    }
    
    .socmed-icon:hover{
        cursor: pointer;
        color: #adacac;
        box-shadow: 10px #e2e2e2;
    }
}

